@{
    ViewData["Title"] = "Home Page";
}

					<div id="slider"><div class="dt-sc-main-slider" id="dt-sc-rev-slider"><link href="https://fonts.googleapis.com/css?family=Raleway:300%2C100%2C600" rel="stylesheet" property="stylesheet" type="text/css" media="all">
<div id="rev_slider_2_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-source="gallery" style="background:transparent;padding:0px;">
<!-- START REVOLUTION SLIDER 5.4.1 fullscreen mode -->
	<div id="rev_slider_2_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.1">
<ul>	<!-- SLIDE  -->
	<li data-index="rs-11" data-transition="slideoververtical" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="1500"  data-thumb="https://redart.wpengine.com/wp-content/uploads/2016/05/photographer-100x50.jpg"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Intro" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="assets/uploads/2016/05/photographer.jpg"  alt="photographer" title="photographer"  width="1920" height="1280" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div class="tp-caption Photography-Subline   tp-resizeme" 
			 id="slide-11-layer-4" 
			 data-x="['center','center','center','center']" data-hoffset="['162','42','0','0']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['-157','-157','-157','-80']" 
						data-fontsize="['20','20','20','17']"
			data-lineheight="['30','30','30','26']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-frames='[{"delay":500,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
			data-textAlign="['left','left','left','left']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 5; white-space: nowrap; letter-spacing: ;">Salam, Mən <span style="color: #fff;">JOHN</span> AND I LOVE </div>

		<!-- LAYER NR. 2 -->	
		<div class="tp-caption Photography-Display   tp-resizeme" 
			 id="slide-11-layer-1" 
			 data-x="['center','center','center','center']" data-hoffset="['153','33','0','0']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['-40','-40','-40','-20']" 
						data-fontsize="['80','80','80','40']"
			data-lineheight="['70','70','70','50']"
			data-width="['480','none','none','none']"
			data-height="['92','none','none','none']"
			data-whitespace="['normal','nowrap','nowrap','nowrap']"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-frames='[{"delay":750,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
			data-textAlign="['left','left','left','left']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 6; min-width: 480px; max-width: 480px; max-width: 92px; max-width: 92px; white-space: normal; letter-spacing: ;">Sketching & </div>

		<!-- LAYER NR. 3 -->
		<div class="tp-caption Photography-Display   tp-resizeme" 
			 id="slide-11-layer-3" 
			 data-x="['center','center','center','center']" data-hoffset="['280','160','0','0']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['40','40','40','20']" 
						data-fontsize="['80','80','80','40']"
			data-lineheight="['70','70','70','50']"
			data-color="['rgba(0, 0, 0, 1)','rgba(0, 255, 222, 1)','rgba(0, 255, 222, 1)','rgba(0, 255, 222, 1)']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
			data-textAlign="['left','left','left','left']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 7; white-space: nowrap; color: rgba(0,0,0,1); letter-spacing: ;">PAINTING </div>

		<!-- LAYER NR. 4 -->
		<div class="tp-caption rev-btn rev-maxround rev-bordered  " 
			 id="slide-11-layer-6" 
			 data-x="['center','center','center','center']" data-hoffset="['180','-66','0','0']" 
			 data-y="['middle','middle','bottom','bottom']" data-voffset="['161','181','100','100']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="text" 
			data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-12","delay":""}]'
			data-basealign="slide" 
			data-responsive_offset="on" 
			data-responsive="off"
			data-frames='[{"delay":1250,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power3.easeOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1);bc:rgba(255, 255, 255, 1);"}]'
			data-textAlign="['left','left','left','left']"
			data-paddingtop="[13,13,13,13]"
			data-paddingright="[35,35,35,35]"
			data-paddingbottom="[13,13,13,13]"
			data-paddingleft="[35,35,35,35]"

			style="z-index: 8; white-space: nowrap; font-size: 15px; line-height: 15px; font-weight: 600; color: rgba(255,255,255,1); letter-spacing: px;font-family:Raleway;border-color:rgba(255, 255, 255, 0.25);border-style:solid;border-width:1px 1px 1px 1px;border-radius:30px 30px 30px 30px;letter-spacing:1px;">MY PORTFOLIO </div>
	</li>
	<!-- SLIDE  -->
	<li data-index="rs-12" data-transition="slideoververtical" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="1500"  data-thumb="https://redart.wpengine.com/wp-content/uploads/2016/05/old-man-100x50.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Portfolio" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="assets/uploads/2016/05/old-man.jpg"  alt="old-man" title="old-man"  width="1920" height="1080" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 5 -->
		<div class="tp-caption Photography-Subline   tp-resizeme" 
			 id="slide-12-layer-4" 
			 data-x="['center','center','center','center']" data-hoffset="['-8','40','0','0']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['-161','-161','-187','-197']" 
						data-fontsize="['20','20','20','17']"
			data-lineheight="['30','30','30','26']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
			data-textAlign="['left','left','left','left']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 9; white-space: nowrap;">SOME OF MY <span style="color: #fff;">BEST WORK</span> </div>

		<!-- LAYER NR. 6 -->
		<div class="tp-caption Photography-ImageHover   tp-resizeme" 
			 id="slide-12-layer-7" 
			 data-x="['left','left','center','center']" data-hoffset="['460','400','-160','-80']" 
			 data-y="['top','top','top','top']" data-voffset="['330','280','350','200']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="image" 
			data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-13","delay":""}]'
			data-responsive_offset="on" 

			data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":750,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"1000","ease":"Power3.easeInOut","to":"o:0.5;sX:0.8;sY:0.8;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255,255,255,1);"}]'
			data-textAlign="['left','left','left','left']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 10; line-height: 22px;cursor:pointer;"><img src="assets/uploads/2016/05/woman-thumb.jpg" alt="" data-ww="['250px','150px','150px','150px']" data-hh="['167px','100px','100px','100px']" width="300" height="200" data-no-retina> </div>

		<!-- LAYER NR. 7 -->
		<div class="tp-caption Photography-ImageHover   tp-resizeme" 
			 id="slide-12-layer-8" 
			 data-x="['left','left','center','center']" data-hoffset="['720','560','0','80']" 
			 data-y="['top','top','top','top']" data-voffset="['330','280','350','200']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="image" 
			data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-14","delay":""}]'
			data-responsive_offset="on" 

			data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":850,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"1000","ease":"Power3.easeInOut","to":"o:0.5;sX:0.8;sY:0.8;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255,255,255,1);"}]'
			data-textAlign="['left','left','left','left']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 11; line-height: 22px;cursor:pointer;"><img src="assets/uploads/2016/05/colored-face-thumb.jpg" alt="" data-ww="['250px','150px','150px','150px']" data-hh="['167px','100px','100px','100px']" width="300" height="200" data-no-retina> </div>



		<!-- LAYER NR. 10 -->
		<div class="tp-caption Photography-ImageHover   tp-resizeme" 
			 id="slide-12-layer-11" 
			 data-x="['left','left','center','center']" data-hoffset="['720','560','0','-80']" 
			 data-y="['top','top','top','top']" data-voffset="['507','390','460','420']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="image" 
			data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-17","delay":""}]'
			data-responsive_offset="on" 

			data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1150,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"1000","ease":"Power3.easeInOut","to":"o:0.5;sX:0.8;sY:0.8;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255,255,255,1);"}]'
			data-textAlign="['left','left','left','left']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 14; line-height: 22px;cursor:pointer;"><img src="assets/uploads/2016/05/paint-brush-thumb.jpg" alt="" data-ww="['250px','150px','150px','150px']" data-hh="['167px','100px','100px','100px']" width="300" height="200" data-no-retina> </div>

	</li>

	<!-- SLIDE  -->
	<li data-index="rs-14" data-transition="slideoverhorizontal" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="1500"  data-thumb="https://redart.wpengine.com/wp-content/uploads/2016/05/colored-face-100x50.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Project 2" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="assets/uploads/2016/05/colored-face.jpg"  alt="" title="colored-face"  width="1920" height="1280" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 16 -->
		<div class="tp-caption tp-shape tp-shapewrapper   tp-resizeme" 
			 id="slide-14-layer-8" 
			 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
						data-width="full"
			data-height="full"
			data-whitespace="nowrap"
 
			data-type="shape" 
			data-basealign="slide" 
			data-responsive_offset="on" 

			data-frames='[{"delay":1500,"speed":1500,"frame":"0","from":"z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"auto:auto;","ease":"nothing"}]'
			data-textAlign="['left','left','left','left']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 5;background-color:rgba(0, 0, 0, 0.5);"> </div>

		<!-- LAYER NR. 17 -->
		<div class="tp-caption Photography-Display   tp-resizeme" 
			 id="slide-14-layer-1" 
			 data-x="['left','left','center','center']" data-hoffset="['80','80','0','0']" 
			 data-y="['top','top','top','top']" data-voffset="['170','130','200','140']" 
						data-fontsize="['60','60','60','40']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="text" 
			data-basealign="slide" 
			data-responsive_offset="on" 

			data-frames='[{"delay":500,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
			data-textAlign="['left','left','left','left']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 6; white-space: nowrap; font-size: 60px; line-height: 50px; letter-spacing: ;">LIVING IN COlOR </div>

		<!-- LAYER NR. 18 -->
		<div class="tp-caption Photography-Subline-2   tp-resizeme" 
			 id="slide-14-layer-4" 
			 data-x="['left','left','center','center']" data-hoffset="['80','80','0','0']" 
			 data-y="['top','top','top','top']" data-voffset="['229','189','259','191']" 
						data-fontsize="['20','20','20','17']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="text" 
			data-basealign="slide" 
			data-responsive_offset="on" 

			data-frames='[{"delay":750,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
			data-textAlign="['left','left','left','left']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 7; white-space: nowrap; letter-spacing: ;">FACE PAINTING </div>

		<!-- LAYER NR. 19 -->
		<div class="tp-caption Photography-Textblock   tp-resizeme" 
			 id="slide-14-layer-7" 
			 data-x="['left','left','center','center']" data-hoffset="['80','80','0','6']" 
			 data-y="['top','top','top','top']" data-voffset="['320','280','323','256']" 
						data-lineheight="['30','30','30','26']"
			data-width="['491','493','500','401']"
			data-height="none"
			data-whitespace="normal"
 
			data-type="text" 
			data-basealign="slide" 
			data-responsive_offset="on" 

			data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"x:[-100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
			data-textAlign="['left','left','left','left']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 8; min-width: 491px; max-width: 491px; white-space: normal; letter-spacing: ;">When you take a flower in your hand and really look at it, it's your world for the moment. I want to give that world to someone else. Most people in the city rush around so, they have no time to look at a flower. I want them to see it whether they want to or not. </div>

		<!-- LAYER NR. 20 -->
		<div class="tp-caption Photography-Button rev-btn " 
			 id="slide-14-layer-6" 
			 data-x="['left','left','center','center']" data-hoffset="['80','80','0','0']" 
			 data-y="['top','top','bottom','bottom']" data-voffset="['572','530','100','100']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="button" 
			data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-12","delay":""}]'
			data-basealign="slide" 
			data-responsive_offset="on" 
			data-responsive="off"
			data-frames='[{"delay":1250,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power3.easeOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1);bc:rgba(255, 255, 255, 1);"}]'
			data-textAlign="['left','left','left','left']"
			data-paddingtop="[13,13,13,13]"
			data-paddingright="[35,35,35,35]"
			data-paddingbottom="[13,13,13,13]"
			data-paddingleft="[35,35,35,35]"

			style="z-index: 9; white-space: nowrap; letter-spacing: ;border-color:rgba(255,255,255,0.25);border-width:1px 1px 1px 1px;letter-spacing:1px;">BACK TO OVERVIEW </div>
	</li>


	<!-- SLIDE  -->
	<li data-index="rs-17" data-transition="slideoverhorizontal" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="1500"  data-thumb="https://redart.wpengine.com/wp-content/uploads/2016/05/paint-brush-100x50.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Project 5" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="assets/uploads/2016/05/paint-brush.jpg"  alt="" title="paint-brush"  width="1920" height="1280" data-bgposition="right center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 30 -->
		<div class="tp-caption tp-shape tp-shapewrapper   tp-resizeme" 
			 id="slide-17-layer-8" 
			 data-x="['right','right','center','center']" data-hoffset="['0','0','0','0']" 
			 data-y="['top','top','top','top']" data-voffset="['0','0','0','0']" 
						data-width="['650','650','600','600']"
			data-height="full"
			data-whitespace="nowrap"
 
			data-type="shape" 
			data-basealign="slide" 
			data-responsive_offset="on" 

			data-frames='[{"from":"z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1500,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","ease":"nothing"}]'
			data-textAlign="['left','left','left','left']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 34;background-color:rgba(0,0,0,0.50);"> </div>

		<!-- LAYER NR. 31 -->
		<div class="tp-caption Photography-Display   tp-resizeme" 
			 id="slide-17-layer-1" 
			 data-x="['right','right','center','center']" data-hoffset="['80','80','0','0']" 
			 data-y="['top','top','top','top']" data-voffset="['170','130','200','140']" 
						data-fontsize="['60','60','60','40']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="text" 
			data-basealign="slide" 
			data-responsive_offset="on" 

			data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];","speed":2000,"to":"o:1;","delay":500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
			data-textAlign="['left','left','left','left']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 35; white-space: nowrap; font-size: 60px; line-height: 50px;">PAINT BRUSH </div>

		<!-- LAYER NR. 32 -->
		<div class="tp-caption Photography-Subline   tp-resizeme" 
			 id="slide-17-layer-4" 
			 data-x="['right','right','center','center']" data-hoffset="['80','80','0','0']" 
			 data-y="['top','top','top','top']" data-voffset="['229','189','259','192']" 
						data-fontsize="['20','20','20','17']"
			data-lineheight="['30','30','30','26']"
			data-color="['rgba(255,255,255,0.35)','rgba(255,255,255,0.35)','rgba(ffff,,,0.35)','rgba(ffff,,,0.35)']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="text" 
			data-basealign="slide" 
			data-responsive_offset="on" 

			data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];","speed":2000,"to":"o:1;","delay":750,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
			data-textAlign="['left','left','left','left']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 36; white-space: nowrap; color: rgba(255,255,255,0.35);">PAINTING </div>

		<!-- LAYER NR. 33 -->
		<div class="tp-caption Photography-Textblock   tp-resizeme" 
			 id="slide-17-layer-7" 
			 data-x="['right','right','center','center']" data-hoffset="['80','80','0','6']" 
			 data-y="['top','top','top','top']" data-voffset="['320','280','323','255']" 
						data-lineheight="['30','30','30','26']"
			data-width="['490','492','500','400']"
			data-height="none"
			data-whitespace="normal"
 
			data-type="text" 
			data-basealign="slide" 
			data-responsive_offset="on" 

			data-frames='[{"from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"x:[-100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
			data-textAlign="['right','right','right','right']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 37; min-width: 490px; max-width: 490px; white-space: normal;">When I hit 16, I got a scooter to ride to school. It was bright pink, and I saw on the ownership papers that Jonathan Ross once owned it. My friends slated me for it because of the colour, but it was cool. My father used to ride, and my mother's boyfriend has a bike, so we're a bit of a biker family. </div>

		<!-- LAYER NR. 34 -->
		<div class="tp-caption Photography-Button rev-btn " 
			 id="slide-17-layer-6" 
			 data-x="['right','right','center','center']" data-hoffset="['80','80','0','0']" 
			 data-y="['top','top','bottom','bottom']" data-voffset="['600','530','100','100']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="button" 
			data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-12","delay":""}]'
			data-basealign="slide" 
			data-responsive_offset="on" 
			data-responsive="off"
			data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","speed":2000,"to":"o:1;","delay":1250,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power3.easeOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255,255,255,1);bc:rgba(255,255,255,1);bw:1px 1px 1px 1px;"}]'
			data-textAlign="['left','left','left','left']"
			data-paddingtop="[13,13,13,13]"
			data-paddingright="[35,35,35,35]"
			data-paddingbottom="[13,13,13,13]"
			data-paddingleft="[35,35,35,35]"

			style="z-index: 38; white-space: nowrap;border-color:rgba(255,255,255,0.25);letter-spacing:1px;">BACK TO OVERVIEW </div>
	</li>

	<!-- SLIDE  -->
	<li data-index="rs-19" data-transition="slideoververtical" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="1500"  data-thumb="https://redart.wpengine.com/wp-content/uploads/2016/05/artist-100x50.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="About" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="&lt;p&gt;&lt;br data-mce-bogus=\&quot;1\&quot;&gt;&lt;/p&gt;
">
		<!-- MAIN IMAGE -->
		<img src="assets/uploads/2016/05/artist.jpg"  alt="" title="artist"  width="1920" height="1282" data-bgposition="left center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 39 -->
		<div class="tp-caption Photography-Display   tp-resizeme" 
			 id="slide-19-layer-1" 
			 data-x="['left','left','center','center']" data-hoffset="['80','80','0','0']" 
			 data-y="['top','top','top','top']" data-voffset="['170','130','200','140']" 
						data-fontsize="['60','60','60','40']"
			data-color="['rgba(2, 2, 2, 1)','rgba(0, 255, 222, 1)','rgba(0, 255, 222, 1)','rgba(0, 255, 222, 1)']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="text" 
			data-basealign="slide" 
			data-responsive_offset="on" 

			data-frames='[{"delay":500,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
			data-textAlign="['left','left','left','left']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 5; white-space: nowrap; font-size: 60px; line-height: 50px; color: rgba(2,2,2,1); letter-spacing: ;">WHAT I DO </div>

		<!-- LAYER NR. 40 -->
		<div class="tp-caption Photography-Subline   tp-resizeme" 
			 id="slide-19-layer-4" 
			 data-x="['left','left','center','center']" data-hoffset="['80','80','0','0']" 
			 data-y="['top','top','top','top']" data-voffset="['229','189','259','192']" 
						data-fontsize="['20','20','20','17']"
			data-lineheight="['30','30','30','26']"
			data-width="['204','201','none','none']"
			data-height="none"
			data-whitespace="['normal','normal','nowrap','nowrap']"
 
			data-type="text" 
			data-basealign="slide" 
			data-responsive_offset="on" 

			data-frames='[{"delay":750,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
			data-textAlign="['left','left','left','left']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 6; min-width: 204px; max-width: 204px; white-space: normal; letter-spacing: ;">PHOTOGRAPHY
DESIGN </div>

		<!-- LAYER NR. 41 -->
		<div class="tp-caption Photography-Textblock   tp-resizeme" 
			 id="slide-19-layer-7" 
			 data-x="['left','left','center','center']" data-hoffset="['80','80','0','6']" 
			 data-y="['top','top','top','top']" data-voffset="['340','290','478','361']" 
						data-lineheight="['30','30','30','26']"
			data-color="['rgba(2, 2, 2, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)']"
			data-width="['490','492','500','400']"
			data-height="none"
			data-whitespace="normal"
 
			data-type="text" 
			data-basealign="slide" 
			data-responsive_offset="on" 

			data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"x:[-100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
			data-textAlign="['left','left','left','left']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 8; min-width: 490px; max-width: 490px; white-space: normal; color: rgba(2,2,2,1); letter-spacing: ;">Photography is a way of feeling, of touching, of loving. What you have caught on film is captured forever... 
it remembers little things, long after you have forgotten everything. </div>

		<!-- LAYER NR. 42 -->
		<div class="tp-caption Photography-Button rev-btn " 
			 id="slide-19-layer-6" 
			 data-x="['left','left','center','center']" data-hoffset="['80','80','0','0']" 
			 data-y="['top','top','bottom','bottom']" data-voffset="['528','530','100','100']" 
						data-color="['rgba(0, 0, 0, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)','rgba(255, 255, 255, 1)']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="button" 
			data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-20","delay":""}]'
			data-basealign="slide" 
			data-responsive_offset="on" 
			data-responsive="off"
			data-frames='[{"delay":1250,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power3.easeOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1);bc:rgba(255, 255, 255, 1);"}]'
			data-textAlign="['left','left','left','left']"
			data-paddingtop="[13,13,13,13]"
			data-paddingright="[35,35,35,35]"
			data-paddingbottom="[13,13,13,13]"
			data-paddingleft="[35,35,35,35]"

			style="z-index: 9; white-space: nowrap; color: rgba(0,0,0,1); letter-spacing: ;border-color:rgba(0,0,0,0.25);border-width:1px 1px 1px 1px;letter-spacing:1px;">HIRE ME </div>
	</li>

</ul>
<div style="" class="tp-static-layers">

		<!-- LAYER NR. 48 -->
		<a class="tp-caption   tp-static-layer" 
 href="https://www.facebook.com/themepunchofficial" target="_blank"			 id="slider-2-layer-3" 
			 data-x="['left','left','left','left']" data-hoffset="['67','67','67','67']" 
			 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['30','30','30','30']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['on','on','off','off']"
 
			data-type="text" 
			data-actions=''
			data-basealign="slide" 
			data-responsive_offset="off" 
			data-responsive="off"
			data-startslide="0" 
			data-endslide="9" 
			data-frames='[{"from":"opacity:0;","speed":1500,"to":"o:1;","delay":500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"to":"auto:auto;","ease":"nothing"},{"frame":"hover","speed":"300","ease":"Power3.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255,255,255,1);bg:rgba(59,89,152,1);"}]'
			data-textAlign="['left','left','left','left']"
			data-paddingtop="[6,6,6,6]"
			data-paddingright="[10,10,10,10]"
			data-paddingbottom="[4,4,4,4]"
			data-paddingleft="[11,11,11,11]"

			style="z-index: 52; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(255,255,255,1);background-color:rgba(0,0,0,1);border-radius:30px 30px 30px 30px;cursor:pointer;text-decoration: none;"><i class="fa-icon-facebook"></i> </a>

		<!-- LAYER NR. 49 -->
		<a class="tp-caption   tp-static-layer" 
 href="https://twitter.com/themepunch" target="_blank"			 id="slider-2-layer-4" 
			 data-x="['left','left','left','left']" data-hoffset="['30','30','30','30']" 
			 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['30','30','30','30']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['on','on','off','off']"
 
			data-type="text" 
			data-actions=''
			data-basealign="slide" 
			data-responsive_offset="off" 
			data-responsive="off"
			data-startslide="0" 
			data-endslide="9" 
			data-frames='[{"from":"opacity:0;","speed":1500,"to":"o:1;","delay":500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"to":"auto:auto;","ease":"nothing"},{"frame":"hover","speed":"300","ease":"Power3.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255,255,255,1);bg:rgba(85,172,238,1);"}]'
			data-textAlign="['left','left','left','left']"
			data-paddingtop="[6,6,6,6]"
			data-paddingright="[7,7,7,7]"
			data-paddingbottom="[4,4,4,4]"
			data-paddingleft="[9,9,9,9]"

			style="z-index: 53; white-space: nowrap; font-size: 17px; line-height: 22px; font-weight: 400; color: rgba(255,255,255,1);background-color:rgba(0,0,0,1);border-radius:30px 30px 30px 30px;cursor:pointer;text-decoration: none;"><i class="fa-icon-twitter"></i> </a>

		<!-- LAYER NR. 50 -->
		<div class="tp-caption tp-shape tp-shapewrapper   tp-static-layer" 
			 id="slider-2-layer-9" 
			 data-x="['right','right','center','center']" data-hoffset="['30','30','0','0']" 
			 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['30','30','30','30']" 
						data-width="460"
			data-height="87"
			data-whitespace="nowrap"
			data-visibility="['on','on','off','off']"
 
			data-type="shape" 
			data-basealign="slide" 
			data-responsive_offset="off" 
			data-responsive="off"
			data-startslide="2" 
			data-endslide="7" 
			data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"nothing"}]'
			data-textAlign="['left','left','left','left']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 54;background-color:rgba(0,0,0,0.65);cursor:pointer;"> </div>

		<!-- LAYER NR. 51 -->
		<div class="tp-caption photography-ImageHover2   tp-static-layer" 
			 id="slider-2-layer-10" 
			 data-x="['right','right','center','center']" data-hoffset="['400','400','-175','-175']" 
			 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['50','50','50','50']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['on','on','off','off']"
 
			data-type="image" 
			data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-13","delay":""}]'
			data-basealign="slide" 
			data-responsive_offset="off" 
			data-responsive="off"
			data-startslide="2" 
			data-endslide="7" 
			data-frames='[{"from":"z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"},{"frame":"hover","speed":"500","ease":"Back.easeOut","to":"o:0.5;sX:0.8;sY:0.8;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255,255,255,1);"}]'
			data-textAlign="['left','left','left','left']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 55; line-height: 22px;cursor:pointer;"><img src="assets/uploads/2016/05/woman-thumb.jpg" alt="" data-ww="['70px','70px','70px','70px']" data-hh="['47px','47px','47px','47px']" width="300" height="200" data-no-retina> </div>

		<!-- LAYER NR. 52 -->
		<div class="tp-caption photography-ImageHover2   tp-static-layer" 
			 id="slider-2-layer-12" 
			 data-x="['right','right','center','center']" data-hoffset="['330','330','-105','-105']" 
			 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['50','50','50','50']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['on','on','off','off']"
 
			data-type="image" 
			data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-14","delay":""}]'
			data-basealign="slide" 
			data-responsive_offset="off" 
			data-responsive="off"
			data-startslide="2" 
			data-endslide="7" 
			data-frames='[{"from":"z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":600,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"},{"frame":"hover","speed":"500","ease":"Back.easeOut","to":"o:0.5;sX:0.8;sY:0.8;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255,255,255,1);"}]'
			data-textAlign="['left','left','left','left']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 56; line-height: 22px;cursor:pointer;"><img src="assets/uploads/2016/05/colored-face-thumb.jpg" alt="" data-ww="['70px','70px','70px','70px']" data-hh="['47px','47px','47px','47px']" width="300" height="200" data-no-retina> </div>

		<!-- LAYER NR. 53 -->
		<div class="tp-caption photography-ImageHover2   tp-static-layer" 
			 id="slider-2-layer-13" 
			 data-x="['right','right','center','center']" data-hoffset="['260','260','-35','-35']" 
			 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['50','50','50','50']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['on','on','off','off']"
 
			data-type="image" 
			data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-15","delay":""}]'
			data-basealign="slide" 
			data-responsive_offset="off" 
			data-responsive="off"
			data-startslide="2" 
			data-endslide="7" 
			data-frames='[{"from":"z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"},{"frame":"hover","speed":"500","ease":"Back.easeOut","to":"o:0.5;sX:0.8;sY:0.8;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255,255,255,1);"}]'
			data-textAlign="['left','left','left','left']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 57; line-height: 22px;cursor:pointer;"><img src="assets/uploads/2016/05/vines-thumb.jpg" alt="" data-ww="['70px','70px','70px','70px']" data-hh="['47px','47px','47px','47px']" width="300" height="200" data-no-retina> </div>

		<!-- LAYER NR. 54 -->
		<div class="tp-caption photography-ImageHover2   tp-static-layer" 
			 id="slider-2-layer-11" 
			 data-x="['right','right','center','center']" data-hoffset="['190','190','35','35']" 
			 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['50','50','50','50']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['on','on','off','off']"
 
			data-type="image" 
			data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-16","delay":""}]'
			data-basealign="slide" 
			data-responsive_offset="off" 
			data-responsive="off"
			data-startslide="2" 
			data-endslide="7" 
			data-frames='[{"from":"z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":800,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"},{"frame":"hover","speed":"500","ease":"Back.easeOut","to":"o:0.5;sX:0.8;sY:0.8;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255,255,255,1);"}]'
			data-textAlign="['left','left','left','left']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 58; line-height: 22px;cursor:pointer;"><img src="assets/uploads/2016/05/face-art-thumb.jpg" alt="" data-ww="['70px','70px','70px','70px']" data-hh="['47px','47px','47px','47px']" width="300" height="200" data-no-retina> </div>

		<!-- LAYER NR. 55 -->
		<div class="tp-caption photography-ImageHover2   tp-static-layer" 
			 id="slider-2-layer-14" 
			 data-x="['right','right','center','center']" data-hoffset="['120','120','105','105']" 
			 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['50','50','50','50']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['on','on','off','off']"
 
			data-type="image" 
			data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-17","delay":""}]'
			data-basealign="slide" 
			data-responsive_offset="off" 
			data-responsive="off"
			data-startslide="2" 
			data-endslide="7" 
			data-frames='[{"from":"z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":900,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"},{"frame":"hover","speed":"500","ease":"Back.easeOut","to":"o:0.5;sX:0.8;sY:0.8;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255,255,255,1);"}]'
			data-textAlign="['left','left','left','left']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 59; line-height: 22px;cursor:pointer;"><img src="assets/uploads/2016/05/paint-brush-thumb.jpg" alt="" data-ww="['70px','70px','70px','70px']" data-hh="['47px','47px','47px','47px']" width="300" height="200" data-no-retina> </div>

		<!-- LAYER NR. 56 -->
		<div class="tp-caption photography-ImageHover2   tp-static-layer" 
			 id="slider-2-layer-15" 
			 data-x="['right','right','center','center']" data-hoffset="['50','50','175','175']" 
			 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['50','50','50','50']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['on','on','off','off']"
 
			data-type="image" 
			data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-18","delay":""}]'
			data-basealign="slide" 
			data-responsive_offset="off" 
			data-responsive="off"
			data-startslide="2" 
			data-endslide="7" 
			data-frames='[{"from":"z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"},{"frame":"hover","speed":"500","ease":"Back.easeOut","to":"o:0.5;sX:0.8;sY:0.8;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255,255,255,1);"}]'
			data-textAlign="['left','left','left','left']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 60; line-height: 22px;cursor:pointer;"><img src="assets/uploads/2016/05/swan-thumb.jpg" alt="" data-ww="['70px','70px','70px','70px']" data-hh="['47px','47px','47px','47px']" width="300" height="200" data-no-retina> </div>
</div>
<script>var htmlDiv = document.getElementById("rs-plugin-settings-inline-css"); var htmlDivCss="";
						if(htmlDiv) {
							htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
						}else{
							var htmlDiv = document.createElement("div");
							htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
							document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
						}
					</script>
<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	</div>
<script>
					var htmlDivCss = unescape("%23rev_slider_2_1%20.zeus.tparrows%20%7B%0A%20%20cursor%3Apointer%3B%0A%20%20min-width%3A70px%3B%0A%20%20min-height%3A70px%3B%0A%20%20position%3Aabsolute%3B%0A%20%20display%3Ablock%3B%0A%20%20z-index%3A100%3B%0A%20%20border-radius%3A50%25%3B%20%20%20%0A%20%20overflow%3Ahidden%3B%0A%20%20background%3Argba%280%2C0%2C0%2C0.1%29%3B%0A%7D%0A%0A%23rev_slider_2_1%20.zeus.tparrows%3Abefore%20%7B%0A%20%20font-family%3A%20%22revicons%22%3B%0A%20%20font-size%3A20px%3B%0A%20%20color%3Argb%28255%2C%20255%2C%20255%29%3B%0A%20%20display%3Ablock%3B%0A%20%20line-height%3A%2070px%3B%0A%20%20text-align%3A%20center%3B%20%20%20%20%0A%20%20z-index%3A2%3B%0A%20%20position%3Arelative%3B%0A%7D%0A%23rev_slider_2_1%20.zeus.tparrows.tp-leftarrow%3Abefore%20%7B%0A%20%20content%3A%20%22%5Ce824%22%3B%0A%7D%0A%23rev_slider_2_1%20.zeus.tparrows.tp-rightarrow%3Abefore%20%7B%0A%20%20content%3A%20%22%5Ce825%22%3B%0A%7D%0A%0A%23rev_slider_2_1%20.zeus%20.tp-title-wrap%20%7B%0A%20%20background%3Argba%280%2C0%2C0%2C0.5%29%3B%0A%20%20width%3A100%25%3B%0A%20%20height%3A100%25%3B%0A%20%20top%3A0px%3B%0A%20%20left%3A0px%3B%0A%20%20position%3Aabsolute%3B%0A%20%20opacity%3A0%3B%0A%20%20transform%3Ascale%280%29%3B%0A%20%20-webkit-transform%3Ascale%280%29%3B%0A%20%20%20transition%3A%20all%200.3s%3B%0A%20%20-webkit-transition%3Aall%200.3s%3B%0A%20%20-moz-transition%3Aall%200.3s%3B%0A%20%20%20border-radius%3A50%25%3B%0A%20%7D%0A%23rev_slider_2_1%20.zeus%20.tp-arr-imgholder%20%7B%0A%20%20width%3A100%25%3B%0A%20%20height%3A100%25%3B%0A%20%20position%3Aabsolute%3B%0A%20%20top%3A0px%3B%0A%20%20left%3A0px%3B%0A%20%20background-position%3Acenter%20center%3B%0A%20%20background-size%3Acover%3B%0A%20%20border-radius%3A50%25%3B%0A%20%20transform%3Atranslatex%28-100%25%29%3B%0A%20%20-webkit-transform%3Atranslatex%28-100%25%29%3B%0A%20%20%20transition%3A%20all%200.3s%3B%0A%20%20-webkit-transition%3Aall%200.3s%3B%0A%20%20-moz-transition%3Aall%200.3s%3B%0A%0A%20%7D%0A%23rev_slider_2_1%20.zeus.tp-rightarrow%20.tp-arr-imgholder%20%7B%0A%20%20%20%20transform%3Atranslatex%28100%25%29%3B%0A%20%20-webkit-transform%3Atranslatex%28100%25%29%3B%0A%20%20%20%20%20%20%7D%0A%23rev_slider_2_1%20.zeus.tparrows%3Ahover%20.tp-arr-imgholder%20%7B%0A%20%20transform%3Atranslatex%280%29%3B%0A%20%20-webkit-transform%3Atranslatex%280%29%3B%0A%20%20opacity%3A1%3B%0A%7D%0A%20%20%20%20%20%20%0A%23rev_slider_2_1%20.zeus.tparrows%3Ahover%20.tp-title-wrap%20%7B%0A%20%20transform%3Ascale%281%29%3B%0A%20%20-webkit-transform%3Ascale%281%29%3B%0A%20%20opacity%3A1%3B%0A%7D%0A%20%0A");
					var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
					if(htmlDiv) {
						htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
					}
					else{
						var htmlDiv = document.createElement('div');
						htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
						document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
					}
				  </script>
				</div><!-- END REVOLUTION SLIDER --></div></div>
			</header><!-- **Header - End** -->
		</div><!-- **Header Wrapper - End** -->
  <!-- **Main** -->
        <div id="main"><div class="dt-sc-margin50"></div>            <!-- ** Container ** -->
            <div class="container">    <section id="primary" class="content-full-width">	<!-- #post-5 -->
<div id="post-5" class="post-5 page type-page status-publish hentry">
<div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="vc_empty_space"   style="height: 60px"><span class="vc_empty_space_inner"></span></div><h2 style="font-size: 70px;line-height: normal;text-align: center;font-family:Josefin Sans;font-weight:100;font-style:normal" class="vc_custom_heading vc_custom_1461310178509" >Portfolio</h2>
	<div class="wpb_text_column wpb_content_element  vc_custom_1461732526042 vc-sub-title" >
		<div class="wpb_wrapper">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>

		</div>
	</div>

	<div  class="wpb_single_image wpb_content_element vc_align_center">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="496" height="19" src="assets/uploads/2016/03/title-line.png" class="vc_single_image-img attachment-full" alt="title-line" loading="lazy" srcset="https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/03/title-line.png 496w, https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/03/title-line-300x11.png 300w" sizes="(max-width: 496px) 100vw, 496px" /></div>
		</figure>
	</div>
</div></div></div></div><div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid vc_row-no-padding"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner vc_custom_1462263349853"><div class="wpb_wrapper"><div class="dt-sc-portfolio-sorting type5">	<a href="#" class="active-sort" title="" data-filter=".all-sort">All</a><a href="#" data-filter=".nature-sort">Nature</a><a href="#" data-filter=".people-sort">People</a><a href="#" data-filter=".still-life-sort">Still Life</a><a href="#" data-filter=".street-sort">Street</a></div><div class="dt-sc-portfolio-container with-space"><div id="dt_portfolios-7323" class="type5 with-space portfolio column dt-sc-one-fourth all-sort first people-sort  still-life-sort">	<figure>		<img src="assets/uploads/2016/04/img-12.jpg" alt="Master Piece" title="Master Piece"/><div class='image-overlay cadetblue'><div class="links"><a title="Master Piece" href="https://redart.wpengine.com/blog/dt_portfolios/master-piece/"><span class="icon icon-linked"> </span></a><a title="Master Piece" data-gal="prettyPhoto[gallery]" href="assets/uploads/2016/04/img-12.jpg">	<span class="icon icon-search"> </span> </a></div><div class="image-overlay-details">	<h2><a title="Master Piece" href="https://redart.wpengine.com/blog/dt_portfolios/master-piece/">Master Piece</a></h2><p class='categories'><a href="https://redart.wpengine.com/blog/portfolio_entries/people/" rel="tag">People</a>, <a href="https://redart.wpengine.com/blog/portfolio_entries/still-life/" rel="tag">Still Life</a></p></div>		</div>	</figure></div><div id="dt_portfolios-7322" class="type5 with-space portfolio column dt-sc-one-fourth all-sort people-sort  street-sort">	<figure>		<img src="assets/uploads/2016/04/img-13.jpg" alt="Dark Beauty" title="Dark Beauty"/><div class='image-overlay deeporange'><div class="links"><a title="Dark Beauty" href="https://redart.wpengine.com/blog/dt_portfolios/dark-beauty/"><span class="icon icon-linked"> </span></a><a title="Dark Beauty" data-gal="prettyPhoto[gallery]" href="assets/uploads/2016/04/img-13.jpg">	<span class="icon icon-search"> </span> </a></div><div class="image-overlay-details">	<h2><a title="Dark Beauty" href="https://redart.wpengine.com/blog/dt_portfolios/dark-beauty/">Dark Beauty</a></h2><p class='categories'><a href="https://redart.wpengine.com/blog/portfolio_entries/people/" rel="tag">People</a>, <a href="https://redart.wpengine.com/blog/portfolio_entries/street/" rel="tag">Street</a></p></div>		</div>	</figure></div><div id="dt_portfolios-7321" class="type5 with-space portfolio column dt-sc-one-fourth all-sort nature-sort  people-sort">	<figure>		<img src="assets/uploads/2016/04/img-14.jpg" alt="Wild Life" title="Wild Life"/><div class='image-overlay pink'><div class="links"><a title="Wild Life" href="https://redart.wpengine.com/blog/dt_portfolios/wild-life/"><span class="icon icon-linked"> </span></a><a title="Wild Life" data-gal="prettyPhoto[gallery]" href="assets/uploads/2016/04/img-14.jpg">	<span class="icon icon-search"> </span> </a></div><div class="image-overlay-details">	<h2><a title="Wild Life" href="https://redart.wpengine.com/blog/dt_portfolios/wild-life/">Wild Life</a></h2><p class='categories'><a href="https://redart.wpengine.com/blog/portfolio_entries/nature/" rel="tag">Nature</a>, <a href="https://redart.wpengine.com/blog/portfolio_entries/people/" rel="tag">People</a></p></div>		</div>	</figure></div><div id="dt_portfolios-68" class="type5 with-space portfolio column dt-sc-one-fourth all-sort nature-sort  street-sort">	<figure>		<img src="assets/uploads/2016/03/img-1.jpg" alt="Proposing Love" title="Proposing Love"/><div class='image-overlay cadetblue'><div class="links"><a title="Proposing Love" href="https://redart.wpengine.com/blog/dt_portfolios/proposing-love-2/"><span class="icon icon-linked"> </span></a><a title="Proposing Love" data-gal="prettyPhoto[gallery]" href="assets/uploads/2016/03/img-1.jpg">	<span class="icon icon-search"> </span> </a></div><div class="image-overlay-details">	<h2><a title="Proposing Love" href="https://redart.wpengine.com/blog/dt_portfolios/proposing-love-2/">Proposing Love</a></h2><p class='categories'><a href="https://redart.wpengine.com/blog/portfolio_entries/nature/" rel="tag">Nature</a>, <a href="https://redart.wpengine.com/blog/portfolio_entries/street/" rel="tag">Street</a></p></div>		</div>	</figure></div><div id="dt_portfolios-39" class="type5 with-space portfolio column dt-sc-one-fourth all-sort first still-life-sort  street-sort">	<figure>		<img src="assets/uploads/2016/03/img-8.jpg" alt="Brave Man" title="Brave Man"/><div class='image-overlay red'><div class="links"><a title="Brave Man" href="https://redart.wpengine.com/blog/dt_portfolios/brave-man/"><span class="icon icon-linked"> </span></a><a title="Brave Man" data-gal="prettyPhoto[gallery]" href="assets/uploads/2016/03/img-8.jpg">	<span class="icon icon-search"> </span> </a></div><div class="image-overlay-details">	<h2><a title="Brave Man" href="https://redart.wpengine.com/blog/dt_portfolios/brave-man/">Brave Man</a></h2><p class='categories'><a href="https://redart.wpengine.com/blog/portfolio_entries/still-life/" rel="tag">Still Life</a>, <a href="https://redart.wpengine.com/blog/portfolio_entries/street/" rel="tag">Street</a></p></div>		</div>	</figure></div><div id="dt_portfolios-38" class="type5 with-space portfolio column dt-sc-one-fourth all-sort nature-sort  still-life-sort">	<figure>		<img src="assets/uploads/2016/03/img-7.jpg" alt="Mountain Ride" title="Mountain Ride"/><div class='image-overlay magenta'><div class="links"><a title="Mountain Ride" href="https://redart.wpengine.com/blog/dt_portfolios/mountain-ride/"><span class="icon icon-linked"> </span></a><a title="Mountain Ride" data-gal="prettyPhoto[gallery]" href="assets/uploads/2016/03/img-7.jpg">	<span class="icon icon-search"> </span> </a></div><div class="image-overlay-details">	<h2><a title="Mountain Ride" href="https://redart.wpengine.com/blog/dt_portfolios/mountain-ride/">Mountain Ride</a></h2><p class='categories'><a href="https://redart.wpengine.com/blog/portfolio_entries/nature/" rel="tag">Nature</a>, <a href="https://redart.wpengine.com/blog/portfolio_entries/still-life/" rel="tag">Still Life</a></p></div>		</div>	</figure></div><div id="dt_portfolios-37" class="type5 with-space portfolio column dt-sc-one-fourth all-sort nature-sort  street-sort">	<figure>		<img src="assets/uploads/2016/03/img-6.jpg" alt="River Ride" title="River Ride"/><div class='image-overlay cyan'><div class="links"><a title="River Ride" href="https://redart.wpengine.com/blog/dt_portfolios/river-ride/"><span class="icon icon-linked"> </span></a><a title="River Ride" data-gal="prettyPhoto[gallery]" href="assets/uploads/2016/03/img-6.jpg">	<span class="icon icon-search"> </span> </a></div><div class="image-overlay-details">	<h2><a title="River Ride" href="https://redart.wpengine.com/blog/dt_portfolios/river-ride/">River Ride</a></h2><p class='categories'><a href="https://redart.wpengine.com/blog/portfolio_entries/nature/" rel="tag">Nature</a>, <a href="https://redart.wpengine.com/blog/portfolio_entries/street/" rel="tag">Street</a></p></div>		</div>	</figure></div><div id="dt_portfolios-36" class="type5 with-space portfolio column dt-sc-one-fourth all-sort nature-sort  people-sort  still-life-sort">	<figure>		<img src="assets/uploads/2016/03/img-5.jpg" alt="Stay Calm" title="Stay Calm"/><div class='image-overlay cyan'><div class="links"><a title="Stay Calm" href="https://redart.wpengine.com/blog/dt_portfolios/stay-calm/"><span class="icon icon-linked"> </span></a><a title="Stay Calm" data-gal="prettyPhoto[gallery]" href="assets/uploads/2016/03/img-5.jpg">	<span class="icon icon-search"> </span> </a></div><div class="image-overlay-details">	<h2><a title="Stay Calm" href="https://redart.wpengine.com/blog/dt_portfolios/stay-calm/">Stay Calm</a></h2><p class='categories'><a href="https://redart.wpengine.com/blog/portfolio_entries/nature/" rel="tag">Nature</a>, <a href="https://redart.wpengine.com/blog/portfolio_entries/people/" rel="tag">People</a>, <a href="https://redart.wpengine.com/blog/portfolio_entries/still-life/" rel="tag">Still Life</a></p></div>		</div>	</figure></div><div id="dt_portfolios-35" class="type5 with-space portfolio column dt-sc-one-fourth all-sort first still-life-sort  street-sort">	<figure>		<img src="assets/uploads/2016/03/img-4.jpg" alt="Ride Hard" title="Ride Hard"/><div class='image-overlay green'><div class="links"><a title="Ride Hard" href="https://redart.wpengine.com/blog/dt_portfolios/ride-hard/"><span class="icon icon-linked"> </span></a><a title="Ride Hard" data-gal="prettyPhoto[gallery]" href="assets/uploads/2016/03/img-4.jpg">	<span class="icon icon-search"> </span> </a></div><div class="image-overlay-details">	<h2><a title="Ride Hard" href="https://redart.wpengine.com/blog/dt_portfolios/ride-hard/">Ride Hard</a></h2><p class='categories'><a href="https://redart.wpengine.com/blog/portfolio_entries/still-life/" rel="tag">Still Life</a>, <a href="https://redart.wpengine.com/blog/portfolio_entries/street/" rel="tag">Street</a></p></div>		</div>	</figure></div></div></div></div></div></div><div class="vc_row-full-width vc_clearfix"></div><div class="vc_row wpb_row vc_row-fluid vc_custom_1461732552771"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="vc_empty_space"   style="height: 60px"><span class="vc_empty_space_inner"></span></div><h2 style="font-size: 70px;line-height: normal;text-align: center;font-family:Josefin Sans;font-weight:100;font-style:normal" class="vc_custom_heading vc_custom_1461310204757" >Blog</h2>
	<div class="wpb_text_column wpb_content_element  vc_custom_1461732546086 vc-sub-title" >
		<div class="wpb_wrapper">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>

		</div>
	</div>

	<div  class="wpb_single_image wpb_content_element vc_align_center">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="496" height="19" src="assets/uploads/2016/03/title-line.png" class="vc_single_image-img attachment-full" alt="title-line" loading="lazy" srcset="https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/03/title-line.png 496w, https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/03/title-line-300x11.png 300w" sizes="(max-width: 496px) 100vw, 496px" /></div>
		</figure>
	</div>
</div></div></div></div><div  style='text-align: center;' data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid vc-blog-section vc_row-no-padding vc_row-o-equal-height vc_row-o-content-middle vc_row-flex"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="wpb_images_carousel wpb_content_element vc_clearfix"><div class="wpb_wrapper"><div id="vc_images-carousel-1-1646666810" data-ride="vc_carousel" data-wrap="true" style="width: 100%;" data-interval="5000" data-auto-height="yes" data-mode="horizontal" data-partial="false" data-per-view="1" data-hide-on-end="false" class="vc_slide vc_images_carousel"><div class="vc_carousel-inner"><div class="vc_carousel-slideline"><div class="vc_carousel-slideline-inner"><div class="vc_item"><div class="vc_inner"><img width="955" height="470" src="assets/uploads/2016/03/blog-img1.jpg" class="attachment-full" alt="blog-img1" loading="lazy" srcset="https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/03/blog-img1.jpg 955w, https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/03/blog-img1-300x148.jpg 300w, https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/03/blog-img1-768x378.jpg 768w" sizes="(max-width: 955px) 100vw, 955px" /></div></div><div class="vc_item"><div class="vc_inner"><img width="955" height="470" src="assets/uploads/2016/03/blog-img2.jpg" class="attachment-full" alt="blog-img2" loading="lazy" srcset="https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/03/blog-img2.jpg 955w, https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/03/blog-img2-300x148.jpg 300w, https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/03/blog-img2-768x378.jpg 768w" sizes="(max-width: 955px) 100vw, 955px" /></div></div><div class="vc_item"><div class="vc_inner"><img width="955" height="470" src="assets/uploads/2016/03/blog-img4.jpg" class="attachment-full" alt="blog-img4" loading="lazy" srcset="https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/03/blog-img4.jpg 955w, https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/03/blog-img4-300x148.jpg 300w, https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/03/blog-img4-768x378.jpg 768w" sizes="(max-width: 955px) 100vw, 955px" /></div></div><div class="vc_item"><div class="vc_inner"><img width="955" height="470" src="assets/uploads/2016/03/blog-img3.jpg" class="attachment-full" alt="blog-img3" loading="lazy" srcset="https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/03/blog-img3.jpg 955w, https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/03/blog-img3-300x148.jpg 300w, https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/03/blog-img3-768x378.jpg 768w" sizes="(max-width: 955px) 100vw, 955px" /></div></div></div></div></div><a class="vc_left vc_carousel-control" href="#vc_images-carousel-1-1646666810" data-slide="prev"><span class="icon-prev"></span></a><a class="vc_right vc_carousel-control" href="#vc_images-carousel-1-1646666810" data-slide="next"><span class="icon-next"></span></a></div></div></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner "><div class="wpb_wrapper"><h3 style="font-size: 50px;line-height: normal;text-align: center;font-family:Josefin Sans;font-weight:100;font-style:normal" class="vc_custom_heading vc_custom_1464759752031" ><a href="#" target=" _blank" title="blog-detail.html">Acrylic</a></h3>
	<div class="wpb_text_column wpb_content_element  vc_custom_1458283988644" >
		<div class="wpb_wrapper">
			<p><strong>Acrylic painting</strong>, technique in which pigments are mixed with hot, liquid wax. After all of the colours have been applied to the painting surface, a heating element is passed over them until the individual brush or spatula marks fuse into a uniform film.</p>

		</div>
	</div>
<a href='#' target='' title='blog-detail' class='dt-sc-button vc_custom_1461740120956  medium icon-left with-icon  filled  dt-sc-expand dt-sc-expand-horizontal ' >View Gallery <span class='fa fa-bullhorn'> </span></a></div></div></div></div><div class="vc_row-full-width vc_clearfix"></div><div  style='text-align: center;' data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid vc-blog-section vc_row-no-padding vc_row-o-equal-height vc_row-o-content-middle vc_row-flex"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner "><div class="wpb_wrapper"><h3 style="font-size: 50px;line-height: normal;text-align: center;font-family:Josefin Sans;font-weight:100;font-style:normal" class="vc_custom_heading vc_custom_1464759767378" ><a href="#" target=" _blank" title="blog-detail.html">Encaustic</a></h3>
	<div class="wpb_text_column wpb_content_element  vc_custom_1458284754902" >
		<div class="wpb_wrapper">
			<p><strong>Encaustic painting</strong>, technique in which pigments are mixed with hot, liquid wax. After all of the colours have been applied to the painting surface, a heating element is passed over them until the individual brush or spatula marks fuse into a uniform film.</p>

		</div>
	</div>
<a href='#' target='' title='blog-detail' class='dt-sc-button vc_custom_1461740069924  medium icon-left with-icon  filled  dt-sc-expand dt-sc-expand-horizontal ' >View Gallery <span class='fa fa-bullhorn'> </span></a></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="wpb_images_carousel wpb_content_element vc_clearfix"><div class="wpb_wrapper"><div id="vc_images-carousel-2-1646666810" data-ride="vc_carousel" data-wrap="true" style="width: 100%;" data-interval="5000" data-auto-height="yes" data-mode="horizontal" data-partial="false" data-per-view="1" data-hide-on-end="false" class="vc_slide vc_images_carousel"><div class="vc_carousel-inner"><div class="vc_carousel-slideline"><div class="vc_carousel-slideline-inner"><div class="vc_item"><div class="vc_inner"><img width="955" height="470" src="assets/uploads/2016/03/blog-img5.jpg" class="attachment-full" alt="blog-img5" loading="lazy" srcset="https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/03/blog-img5.jpg 955w, https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/03/blog-img5-300x148.jpg 300w, https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/03/blog-img5-768x378.jpg 768w" sizes="(max-width: 955px) 100vw, 955px" /></div></div><div class="vc_item"><div class="vc_inner"><img width="955" height="470" src="assets/uploads/2016/03/blog-img6.jpg" class="attachment-full" alt="blog-img6" loading="lazy" srcset="https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/03/blog-img6.jpg 955w, https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/03/blog-img6-300x148.jpg 300w, https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/03/blog-img6-768x378.jpg 768w" sizes="(max-width: 955px) 100vw, 955px" /></div></div><div class="vc_item"><div class="vc_inner"><img width="955" height="470" src="assets/uploads/2016/03/blog-img7.jpg" class="attachment-full" alt="blog-img7" loading="lazy" srcset="https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/03/blog-img7.jpg 955w, https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/03/blog-img7-300x148.jpg 300w, https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/03/blog-img7-768x378.jpg 768w" sizes="(max-width: 955px) 100vw, 955px" /></div></div><div class="vc_item"><div class="vc_inner"><img width="955" height="470" src="assets/uploads/2016/03/blog-img8.jpg" class="attachment-full" alt="blog-img8" loading="lazy" srcset="https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/03/blog-img8.jpg 955w, https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/03/blog-img8-300x148.jpg 300w, https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/03/blog-img8-768x378.jpg 768w" sizes="(max-width: 955px) 100vw, 955px" /></div></div></div></div></div><a class="vc_left vc_carousel-control" href="#vc_images-carousel-2-1646666810" data-slide="prev"><span class="icon-prev"></span></a><a class="vc_right vc_carousel-control" href="#vc_images-carousel-2-1646666810" data-slide="next"><span class="icon-next"></span></a></div></div></div></div></div></div></div><div class="vc_row-full-width vc_clearfix"></div><div  style='text-align: center;' data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid vc-blog-section vc_row-no-padding vc_row-o-equal-height vc_row-o-content-middle vc_row-flex"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="wpb_images_carousel wpb_content_element vc_clearfix"><div class="wpb_wrapper"><div id="vc_images-carousel-3-1646666810" data-ride="vc_carousel" data-wrap="true" style="width: 100%;" data-interval="5000" data-auto-height="yes" data-mode="horizontal" data-partial="false" data-per-view="1" data-hide-on-end="false" class="vc_slide vc_images_carousel"><div class="vc_carousel-inner"><div class="vc_carousel-slideline"><div class="vc_carousel-slideline-inner"><div class="vc_item"><div class="vc_inner"><img width="955" height="470" src="assets/uploads/2016/03/blog-img9.jpg" class="attachment-full" alt="blog-img9" loading="lazy" srcset="https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/03/blog-img9.jpg 955w, https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/03/blog-img9-300x148.jpg 300w, https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/03/blog-img9-768x378.jpg 768w" sizes="(max-width: 955px) 100vw, 955px" /></div></div><div class="vc_item"><div class="vc_inner"><img width="955" height="470" src="assets/uploads/2016/03/blog-img10.jpg" class="attachment-full" alt="blog-img10" loading="lazy" srcset="https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/03/blog-img10.jpg 955w, https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/03/blog-img10-300x148.jpg 300w, https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/03/blog-img10-768x378.jpg 768w" sizes="(max-width: 955px) 100vw, 955px" /></div></div><div class="vc_item"><div class="vc_inner"><img width="955" height="470" src="assets/uploads/2016/03/blog-img11.jpg" class="attachment-full" alt="blog-img11" loading="lazy" srcset="https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/03/blog-img11.jpg 955w, https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/03/blog-img11-300x148.jpg 300w, https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/03/blog-img11-768x378.jpg 768w" sizes="(max-width: 955px) 100vw, 955px" /></div></div><div class="vc_item"><div class="vc_inner"><img width="955" height="470" src="assets/uploads/2016/03/blog-img12.jpg" class="attachment-full" alt="blog-img12" loading="lazy" srcset="https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/03/blog-img12.jpg 955w, https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/03/blog-img12-300x148.jpg 300w, https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/03/blog-img12-768x378.jpg 768w" sizes="(max-width: 955px) 100vw, 955px" /></div></div></div></div></div><a class="vc_left vc_carousel-control" href="#vc_images-carousel-3-1646666810" data-slide="prev"><span class="icon-prev"></span></a><a class="vc_right vc_carousel-control" href="#vc_images-carousel-3-1646666810" data-slide="next"><span class="icon-next"></span></a></div></div></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner "><div class="wpb_wrapper"><h3 style="font-size: 50px;line-height: normal;text-align: center;font-family:Josefin Sans;font-weight:100;font-style:normal" class="vc_custom_heading vc_custom_1464759777573" ><a href="#" target=" _blank" title="blog-detail.html">Oil Painting</a></h3>
	<div class="wpb_text_column wpb_content_element  vc_custom_1458285046034" >
		<div class="wpb_wrapper">
			<p><strong>Oil Painting</strong>, technique in which pigments are mixed with hot, liquid wax. After all of the colours have been applied to the painting surface, a heating element is passed over them until the individual brush or spatula marks fuse into a uniform film.</p>

		</div>
	</div>
<a href='#' target='' title='blog-detail' class='dt-sc-button vc_custom_1461740134910  medium icon-left with-icon  filled  dt-sc-expand dt-sc-expand-horizontal ' >View Gallery <span class='fa fa-bullhorn'> </span></a></div></div></div></div><div class="vc_row-full-width vc_clearfix"></div><div  style='text-align: center;' data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid vc-blog-section vc_row-no-padding vc_row-o-equal-height vc_row-o-content-middle vc_row-flex"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner "><div class="wpb_wrapper"><h3 style="font-size: 50px;line-height: normal;text-align: center;font-family:Josefin Sans;font-weight:100;font-style:normal" class="vc_custom_heading vc_custom_1464759787129" ><a href="#" target=" _blank" title="blog-detail.html">Impasto</a></h3>
	<div class="wpb_text_column wpb_content_element  vc_custom_1458285082818" >
		<div class="wpb_wrapper">
			<p><strong>Impasto</strong>, technique in which pigments are mixed with hot, liquid wax. After all of the colours have been applied to the painting surface, a heating element is passed over them until the individual brush or spatula marks fuse into a uniform film.</p>

		</div>
	</div>
<a href='#' target='' title='blog-detail' class='dt-sc-button vc_custom_1461740160100  medium icon-left with-icon  filled  dt-sc-expand dt-sc-expand-horizontal ' >View Gallery <span class='fa fa-bullhorn'> </span></a></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="wpb_images_carousel wpb_content_element vc_clearfix"><div class="wpb_wrapper"><div id="vc_images-carousel-4-1646666810" data-ride="vc_carousel" data-wrap="true" style="width: 100%;" data-interval="5000" data-auto-height="yes" data-mode="horizontal" data-partial="false" data-per-view="1" data-hide-on-end="false" class="vc_slide vc_images_carousel"><div class="vc_carousel-inner"><div class="vc_carousel-slideline"><div class="vc_carousel-slideline-inner"><div class="vc_item"><div class="vc_inner"><img width="955" height="470" src="assets/uploads/2016/03/blog-img13.jpg" class="attachment-full" alt="blog-img13" loading="lazy" srcset="https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/03/blog-img13.jpg 955w, https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/03/blog-img13-300x148.jpg 300w, https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/03/blog-img13-768x378.jpg 768w" sizes="(max-width: 955px) 100vw, 955px" /></div></div><div class="vc_item"><div class="vc_inner"><img width="955" height="470" src="assets/uploads/2016/03/blog-img14.jpg" class="attachment-full" alt="blog-img14" loading="lazy" srcset="https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/03/blog-img14.jpg 955w, https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/03/blog-img14-300x148.jpg 300w, https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/03/blog-img14-768x378.jpg 768w" sizes="(max-width: 955px) 100vw, 955px" /></div></div><div class="vc_item"><div class="vc_inner"><img width="955" height="470" src="assets/uploads/2016/03/blog-img15.jpg" class="attachment-full" alt="blog-img15" loading="lazy" srcset="https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/03/blog-img15.jpg 955w, https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/03/blog-img15-300x148.jpg 300w, https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/03/blog-img15-768x378.jpg 768w" sizes="(max-width: 955px) 100vw, 955px" /></div></div><div class="vc_item"><div class="vc_inner"><img width="955" height="470" src="assets/uploads/2016/03/blog-img16.jpg" class="attachment-full" alt="blog-img16" loading="lazy" srcset="https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/03/blog-img16.jpg 955w, https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/03/blog-img16-300x148.jpg 300w, https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/03/blog-img16-768x378.jpg 768w" sizes="(max-width: 955px) 100vw, 955px" /></div></div></div></div></div><a class="vc_left vc_carousel-control" href="#vc_images-carousel-4-1646666810" data-slide="prev"><span class="icon-prev"></span></a><a class="vc_right vc_carousel-control" href="#vc_images-carousel-4-1646666810" data-slide="next"><span class="icon-next"></span></a></div></div></div></div></div></div></div><div class="vc_row-full-width vc_clearfix"></div><div class="vc_row wpb_row vc_row-fluid vc_custom_1461732564598"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="vc_empty_space"   style="height: 60px"><span class="vc_empty_space_inner"></span></div><h2 style="font-size: 70px;line-height: normal;text-align: center;font-family:Josefin Sans;font-weight:100;font-style:normal" class="vc_custom_heading vc_custom_1461310217082" >Frames</h2>
	<div class="wpb_text_column wpb_content_element  vc_custom_1461732577587 vc-sub-title" >
		<div class="wpb_wrapper">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>

		</div>
	</div>

	<div  class="wpb_single_image wpb_content_element vc_align_center">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="496" height="19" src="assets/uploads/2016/03/title-line.png" class="vc_single_image-img attachment-full" alt="title-line" loading="lazy" srcset="https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/03/title-line.png 496w, https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/03/title-line-300x11.png 300w" sizes="(max-width: 496px) 100vw, 496px" /></div>
		</figure>
	</div>
</div></div></div></div><div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid vc_row-no-padding vc_row-o-equal-height vc_row-o-content-middle vc_row-flex"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="frame-grid ">	<div class="frame-thumb">		<div class="frame-fullwidth">			<div class="dt-sc-frame-container isotope"><div class="frame ceramic dt-sc-one-third"><figure><img width="1170" height="796" src="assets/uploads/2016/05/frame-img1.jpg" class="attachment-full" alt="frame-img1" loading="lazy" srcset="https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/05/frame-img1.jpg 1170w, https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/05/frame-img1-300x204.jpg 300w, https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/05/frame-img1-768x523.jpg 768w, https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/05/frame-img1-1024x697.jpg 1024w" sizes="(max-width: 1170px) 100vw, 1170px" /></figure></div><div class="frame plastic dt-sc-one-third"><figure><img width="1170" height="1448" src="assets/uploads/2016/05/frame-img2.jpg" class="attachment-full" alt="frame-img2" loading="lazy" srcset="https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/05/frame-img2.jpg 1170w, https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/05/frame-img2-242x300.jpg 242w, https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/05/frame-img2-768x950.jpg 768w, https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/05/frame-img2-827x1024.jpg 827w" sizes="(max-width: 1170px) 100vw, 1170px" /></figure></div><div class="frame wooden dt-sc-one-third"><figure><img width="1170" height="1003" src="assets/uploads/2016/05/frame-img3.jpg" class="attachment-full" alt="frame-img3" loading="lazy" srcset="https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/05/frame-img3.jpg 1170w, https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/05/frame-img3-300x257.jpg 300w, https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/05/frame-img3-768x658.jpg 768w, https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/05/frame-img3-1024x878.jpg 1024w" sizes="(max-width: 1170px) 100vw, 1170px" /></figure></div><div class="frame steel dt-sc-one-third"><figure><img width="1170" height="1245" src="assets/uploads/2016/05/frame-img4.jpg" class="attachment-full" alt="frame-img4" loading="lazy" srcset="https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/05/frame-img4.jpg 1170w, https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/05/frame-img4-282x300.jpg 282w, https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/05/frame-img4-768x817.jpg 768w, https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/05/frame-img4-962x1024.jpg 962w" sizes="(max-width: 1170px) 100vw, 1170px" /></figure></div><div class="frame steel dt-sc-one-third"><figure><img width="1170" height="1170" src="assets/uploads/2016/05/frame-img5.jpg" class="attachment-full" alt="frame-img5" loading="lazy" srcset="https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/05/frame-img5.jpg 1170w, https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/05/frame-img5-150x150.jpg 150w, https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/05/frame-img5-300x300.jpg 300w, https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/05/frame-img5-768x768.jpg 768w, https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/05/frame-img5-1024x1024.jpg 1024w, https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/05/frame-img5-200x200.jpg 200w, https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/05/frame-img5-500x500.jpg 500w, https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/05/frame-img5-600x600.jpg 600w" sizes="(max-width: 1170px) 100vw, 1170px" /></figure></div>			</div>		</div>	</div>	<div class="frame-details">		<div class="frame-content"><div id="frame-all" class="dt-frames"><p></p>
<p>The secret to so many artists living so long is that every painting is a new adventure. So, you see, they're always looking ahead to something new and exciting. The secret is not to look back.</p>
<p></p></div><div id="frame-ceramic" class="dt-frames hidden"><p><p>The traditional and most common support material to which the paint is applied for watercolor paintings is paper. Other supports include papyrus, bark papers, plastics, vellum, or leather, fabric, wood, and canvas. Watercolor paper is often made entirely or partially with cotton, which gives a good texture and minimizes distortion when wet.</p></p></div><div id="frame-plastic" class="dt-frames hidden"><p><p>Oil painting is the process of painting with pigments with a medium of drying oil as the binder. Commonly used drying oils include linseed oil, poppy seed oil, walnut oil, and safflower oil. The choice of oil imparts a range of properties to the oil paint, such as the amount of yellowing or drying time. Certain differences, depending on the oil, are also visible in the sheen of the paints.</p></p></div><div id="frame-wooden" class="dt-frames hidden"><p><p>Acrylic paint is a fast-drying paint made of pigment suspended in acrylic polymer emulsion. Acrylic paints are water-soluble, but become water-resistant when dry. Depending on how much the paint is diluted with water, or modified with acrylic gels, media, or pastes, the finished acrylic painting can resemble a watercolor or an oil painting, or have its own unique characteristics not attainable with other media.</p></p></div><div id="frame-steel" class="dt-frames hidden"><p><p>They portray intense, haunting themes, reflective of both his fear of insanity and his bleak outlook on humanity. The paintings originally were painted as murals on the walls of the house, later being hacked off the walls and attached to canvas. Currently they are held in the Museo del Prado in Madrid.</p></p></div>		</div>		<div class="frame-sorting">			<a data-filter="*" href="#" class="active-sort dt-sc-button small filled dt-sc-expand dt-sc-expand-vertical">All</a><a data-filter=".ceramic" href="#" class="dt-sc-button small filled dt-sc-expand dt-sc-expand-vertical">Ceramic</a><a data-filter=".plastic" href="#" class="dt-sc-button small filled dt-sc-expand dt-sc-expand-vertical">Plastic</a><a data-filter=".wooden" href="#" class="dt-sc-button small filled dt-sc-expand dt-sc-expand-vertical">Wooden</a><a data-filter=".steel" href="#" class="dt-sc-button small filled dt-sc-expand dt-sc-expand-vertical">Steel</a>		</div>	</div></div></div></div></div></div><div class="vc_row-full-width vc_clearfix"></div><div class="vc_row wpb_row vc_row-fluid vc_custom_1461732594306"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="vc_empty_space"   style="height: 60px"><span class="vc_empty_space_inner"></span></div><h2 style="font-size: 70px;line-height: normal;text-align: center;font-family:Josefin Sans;font-weight:100;font-style:normal" class="vc_custom_heading vc_custom_1461310229201" >About Us</h2>
	<div class="wpb_text_column wpb_content_element  vc_custom_1461732605776 vc-sub-title" >
		<div class="wpb_wrapper">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>

		</div>
	</div>

	<div  class="wpb_single_image wpb_content_element vc_align_center">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="496" height="19" src="assets/uploads/2016/03/title-line.png" class="vc_single_image-img attachment-full" alt="title-line" loading="lazy" srcset="https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/03/title-line.png 496w, https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/03/title-line-300x11.png 300w" sizes="(max-width: 496px) 100vw, 496px" /></div>
		</figure>
	</div>
</div></div></div></div><div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc-about-section"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner vc_custom_1458302393173"><div class="wpb_wrapper">
	<div  class="wpb_single_image wpb_content_element vc_align_center">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="586" height="523" src="assets/uploads/2016/03/about.png" class="vc_single_image-img attachment-full" alt="about" loading="lazy" srcset="https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/03/about.png 586w, https://weevn495sjc36ekr114l5161-wpengine.netdna-ssl.com/wp-content/uploads/2016/03/about-300x268.png 300w" sizes="(max-width: 586px) 100vw, 586px" /></div>
		</figure>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner vc_custom_1458302401423"><div class="wpb_wrapper"><h3 style="font-size: 40px;line-height: 30px;text-align: left;font-family:Josefin Sans;font-weight:100;font-style:normal" class="vc_custom_heading vc_custom_1464759866448" >A Little Intro </h3>
	<div class="wpb_text_column wpb_content_element  vc_custom_1458297554508" >
		<div class="wpb_wrapper">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>

		</div>
	</div>
<h3 style="font-size: 40px;line-height: 30px;text-align: left;font-family:Josefin Sans;font-weight:100;font-style:normal" class="vc_custom_heading vc_custom_1464759886019" >My Exhibitions</h3>
	<div class="wpb_text_column wpb_content_element  vc_custom_1458297515044" >
		<div class="wpb_wrapper">
			<p>Sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, Lorem ipsum dolor quis nostrud exercitation ullamco</p>

		</div>
	</div>
<h3 style="font-size: 40px;line-height: 30px;text-align: left;font-family:Josefin Sans;font-weight:100;font-style:normal" class="vc_custom_heading vc_custom_1464759894705" >Newsletter</h3>
	<div class="wpb_text_column wpb_content_element  vc_custom_1458295655777" >
		<div class="wpb_wrapper">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>

		</div>
	</div>
<div class="vc_row wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><div class='dt-sc-newsletter-section type1 dt-sc-form-only'><form class="dt-sc-subscribe-frm" action="#" method="post"><input type='email' name='dt_mc_emailid' id='dt_mc_emailid' required placeholder='Email'><input type='hidden' name='dt_mc_apikey' id='dt_mc_apikey' value='' /><input type='hidden' name='dt_mc_listid' id='dt_mc_listid' value='' /><input type='submit' name='mc_submit' value='Subscribe'></form><div class="dt_ajax_subscribe_msg"></div></div></div></div></div></div></div></div></div></div><div class="vc_row-full-width vc_clearfix"></div>
</div><!-- #post-5 -->
    </section><!-- **Primary - End** -->		        </div><!-- **Container - End** -->

        </div><!-- **Main - End** -->         
	